
<div class="slider" style="width:900px; height:300px;">
    <button>prev</button>
    <img id="slide1" src="/Static/Img/london.jpg" class="active" alt="London" style="width:900px;height:300px;" />
    <img id="slide2" src="/Static/Img/ny.jpg" alt="New York" style="width:900px;height:300px;" />
    <img id="slide3" src="/Static//Img/spb.jpg" alt="Saint Petersburg" style="width:900px;height:300px;" />
    <button>next</button>
    <script type="text/javascript" src="../Static/JS/about.js"></script>
</div>